@model WebDA2.Models.TaiKhoan
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<section class=" gradient-custom">
    <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10 ">
                <div class="card bg-dark text-white " style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4">
                            <h4 class="fw-bold mb-2 text-uppercase">Đăng Nhập</h4>
                            <p class="text-white-50 mb-5">Vui lòng nhập Tài Khoản và Mật Khẩu!</p>

                            @using (Html.BeginForm("DangNhap", "TaiKhoan", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div data-mdb-input-init class="form-outline form-white mb-5">
                                    @Html.LabelFor(m => m.TenDangNhap, "Tài Khoản", new { @class = "" })
                                    @Html.TextBoxFor(m => m.TenDangNhap, "", new { @class = "form-control form-control-lg", @placeholder = "Tài khoản" })
                                </div>
                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    @Html.LabelFor(m => m.MatKhau, "Mật Khẩu")
                                    <div class="input-group">
                                        @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control form-control-lg", @placeholder = "Mật khẩu", @id = "passwordInput" })
                                        <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()" style="border: none; background: none;">
                                            <i class="fa fa-low-vision" id="toggleIcon" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    @if (ViewBag.Error != null)
                                    {
                                        <p style="color:red">@ViewBag.Error</p>
                                    }
                                </div>

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="~/TaiKhoan/QuenMatKhau">Quên mật khẩu ?</a></p>
                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-lg px-5" type="submit">Đăng Nhập</button>
                            }

                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                            </div>
                        </div>
                        <div>
                            <p class="mb-0">
                                Bạn chưa có tài khoản ? <a href="~/TaiKhoan/DangKy" class="text-white-50 fw-bold">Đăng ký tài khoản</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




