@model WebDA2.Models.KhachHang
@using WebDA2.Models
@{
    ViewBag.Title = "ThemKhachHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    CuaHangITEntities db = new CuaHangITEntities();
}



<h1><span class="glyphicon glyphicon-user addtop" aria-hidden="true"></span>&nbsp;&nbsp;Thêm Khách Hàng</h1>

<div id="sub-main">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <ol class="breadcrumb">
                <li>Hệ thống</li>
                <li>Khách hàng</li>
                <li class="active">Thêm mới</li>
            </ol>
        </div>
        <div class="hidden-xs col-sm-5 col-md-4 col-lg-3 text-right">
            <div class="timecount" id="current-time"></div>
        </div>

    </div>
    <div class="row margin0 space-top" style="color:white">
        <div class="option-h4 text-justify">
            <h4>Thêm mới</h4>
            <p>- Bạn đang tạo một khách hàng mới</p>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.TenKH, "Tên khách hàng", htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập Tên Khách Hàng" } })
                    @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SDT, "Số điện thoại", htmlAttributes: new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-2" })
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    @Html.EditorFor(model => model.SDT, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            placeholder = "Nhập Số Điện Thoại",
                            maxlength = "10",
                            pattern = @"\d{10}",  // Ràng buộc chỉ cho phép 10 chữ số
                            title = "Chỉ nhập các chữ số từ 0 đến 9 và không quá 10 chữ số"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-2">Chi nhánh</label>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    @if (db.ChiNhanhs.Any())
                    {
                        var chinhanh = db.ChiNhanhs.ToList();
                        <select class="form-control" name="id_chinhanh">
                            @foreach (var item in chinhanh)
                            {
                                <option value="@item.ID_CN">@item.Ten_CN</option>
                            }
                        </select>
                    }
                    else
                    {
                        <p>Không có chi nhánh để chọn.</p>
                    }
                </div>
            </div>

            <div class="form-group space-top">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-2">
                    <input type="submit" value="Thêm Khách Hàng" class="btn btn-danger btn-lg btn-a" />
                </div>
            </div>
        </div>
            }
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
